.happy, .sad{
    float: left;
    padding: 10px;
}

.my-mood h6{
    font-size: 16px;
    text-align: center;
}

.red-text {
    color: red;
    font-weight: bold;
}
.orangered-text {
    color: orangered;
    font-style: italic;
    font-size: 20px;
}
.skinny {
    font-family: fantasy;
}
.my-mood img {
    width: 400px;
}
.inline {
    display: inline;
    color: #777;
    font-size: 18;
    font-weight: bold;
}
.my-favorite ol div {
    margin-top: 1em ;
    margin-bottom: 1em ;
}

.my-favorite ol li {
    font-weight: bold;
}